@media only screen and (min-width: 656px) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    nav button { display:none; }  /* hamburger button does not need to be shown */

    .pageTitle {
        font-size: 1.9em;
        height: 90px;
    }
    section {
        flex-wrap: nowrap;
    }

    section div.stats {
        margin: 20px 10px;
    }
    div.images {
        margin: 20px;
    }

    section div.stats {
        text-align: left;
    }

    h2 {
        font-size: 1.7em;
    }

    section p {
        font-size: 1.1em;
    }

    .homeheading {
        font-size: 280%;
    }

    .dropdownlist2 {
        font-size: 1.25em;
    }

    .guidepic {
        margin: 0 10px;
        float: left;
    }

    th {
        font-size: 1.5em;
    }
}



